.DailyForecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.WeatherCard {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  background-color: #262540;
  /* border: solid 3px orange; */
  min-width: 100px;
  padding: 0.5em;
  border-radius: 20px;
}

.WeatherCardIcon {
  /* border: solid 3px orange; */
  margin: 0 auto;
}
.TemperatureRange {
  width: 100%;
  font-size: 0.8rem;
}

.MaxTemperature {
  float: right;
}

.MinTemperature {
  float: left;
}
