@import "tailwindcss";


@layer base {
  *,*::after, *::before{
    box-sizing: border-box;
  }
  html {
    font-size: 18px; /* Body copy size */
  }

  body {
    font-family: "DM Sans", system-ui, sans-serif;
    font-weight: 500; /* Default weight */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bricolage Grotesque", system-ui, sans-serif;
    font-weight: 700;
  }
}


input,button,select{
  background-color: #3C3B5E;
}

button, 
select  {
  transition: all 0.2s ease-in-out;
}



.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  background-image: none !important; 
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  background-color: hsl(200, 20%, 70%) !important; /* Base color */
  color: none !important;
}

.skeleton-text:last-child{
  margin-bottom: 0;
  width: 80%;
}

:root{
    --neutral: {
          900: "#02012C",
          800: "#262540",
          700: "#302F4A",
          600: "#3C3B5E",
          300: "hsl(240, 6%, 70%)",
          200: "hsl(250, 6%, 84%)",
          0: "hsl(0, 0%, 100%)",
        },
        // Orange
        --orange: {
          500: "hsl(28, 100%, 52%)",
        },
        // Blue
        --blue: {
          500: "hsl(233, 67%, 56%)",
          700: "hsl(248, 70%, 36%)",
        },
}