.HourlyForecastContainer {
  padding: 0.5em;
  border-radius: 20px;
  background-color: var(--color-800);
  border: solid 3px orange;
}

.HourlyForecastHeader {
  display: flex;
  justify-content: space-between;
}

.HourlyForecastDropdown {
  padding: 0.5em;
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-700);
  border-radius: 20px;
}

.HourlyForecastCard {
  display: flex;
  padding: 0.5em;
  background-color: var(color--neutral-800);
  border: solid 3px green;
  justify-content: space-between;
}

.HourlyForeCastTime {
  flex: 1;
  text-align: left;
}
.HourlyForecastTemperatureContainer {
  margin-left: auto;
}
.WeatherIcon {
  flex-shrink: 0;
}
