.home {
  padding: 1rem;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
  background-color: #02012c;
}

.titleHeader {
  margin: 3rem 0;
  font-size: 3.25rem;
  padding: 1rem;
  line-height: 120%;
}

@media (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-evenly; */
    margin: 0 auto;
    /* border: solid red 3px; */
    max-width: 1400px;
  }

  .mainContainer {
    flex: 1;
    min-width: 0;
  }
}
