---
import "../styles/global.css";
import WeatherDisplay from "./components/WeatherDisplay";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&family=Bricolage+Grotesque:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/styles/globals.css" /> -->
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Weather app</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <h1 class="text-center text-green-500 font-bold"></h1>
    <WeatherDisplay client:load />
    <p>
      <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge"
          >Frontend Mentor</a
        >. Coded by <a href="https://github.com/persianblue"
          >Matthew-Daniel White</a
        >.
      </div>

      <style>
        body {
          background-color: hsl(243, 96%, 9%);
          color: white;
        }
      </style>
    </p>
  </body>
</html>
